html>

<head>
    <title>Dashboard</title>

    
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body >
    <div id="todo-table">
        

    <h1>WELCOME..to the Dashboard.</h1>
    <a class="btn-primary" href="/" >Home</a>
    <a href="/users/login" >login</a>
    <a href="/users/register" >register</a>
    
    

    

        
    </div>
</body>

</html>