<html>

<head>
    <title>Todo App</title>

    
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/jquery-3.2.1.min.js" type="text/javascript"></script>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="todo-table">
        <form method="POST" action="todo">
            <input type="text" name="item" placeholder="Add new item" required>
            <button type="submit">Add Item</button>
        </form>

    <h1>welcome #{name}</h1>
    

        
    </div>
</body>

</html>