<html>

<head>
    <title>Main Page</title>
	<!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body >

        <div>
                <h1>Try</h1>
                    <% result.forEach(function(entry){ %>
                        <h3> <%=entry.name %> </h3>
                        <% }); %>
            </div>
    

    <div id="todo-table">
    <h1>WELCOME...</h1>
    <a class="btn-primary" href="/" >Home</a>
    <a href="/users/login" >login</a>
    <a href="/users/register" >register</a>     
    </div>

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12" id="header">

          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3 id="name">john Doe > <span id="cart"> Cart</span></h3>
          </div>
        </div>
      </div>
      <form method="post" action="/">
        name: <input type="text" name="name">
        quantity: <input type="number" name="quantity">
        cost: <input type="number" name="cost">
        <input type="submit">
      </form>


      <div class="container-fluid main-content">
            <h1>Div 1</h1>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                {% for item in result %}
                  <div class="col-md-3 col-sm-6 col-centered cardwrap" id="{{item.name}}">
                    <div class="card">
                    <img class="card-img-top image" src="/images/{{item.name}}.jpg" alt="Cardimage cap">
                        <div class="card-body">
                        <table>
                            <tr>
                            <td style="font-weight: bold;">{{item.name}} </td>
                            <td id="cost{{item.name}}" style="text-align: right; color: green; font-weight: bold;">{{item.cost}} </td>
                            </tr>
                        </table>
                        <p> Qty:
                        <span>
                            <input class="glowing-border quantity" type="text" value="{{item.quantity}}">
                        </span>
                        </p>
                        <a name="{{item.name}}" onclick="delete_image(this)" style="float: right;"><span class="glyphicon glyphicon-trash"></span> </a>
                        </div>
                    </div>
                  </div>
                {% endfor %}
              </div>

            <div class="col-lg-4 col-sm-6 ">
                <h1>Div 2</h1>
              <div class="col-md-offset-1 col-md-11 col-sm-12 col-xs-12 col-centered cardwrap details">
                {% for item in result %}
                <div id="Price{{item.name}}">
                <table>
                  <tr>
                    <td style="font-weight: bold;">{{item.name}} </td>
                    <td id="tag{{item.name}}" style="text-align: right; color: green; font-weight: bold;">Rs. {{item.cost}} </td>
                  </tr>
                </table>
                <h5> Qty: {{item.quantity}} </h5>
                <br>
              </div>
                {% endfor %}
                <h4 id="total"> Total: <span id="number">{{cost}}</span> </h4>
              </div>
            </div>
        </div>
      </div>

</body>

</html>